#header {
    background-color: #393c61;
    display: flex;
    justify-content: center;
    color: white;
    margin-bottom: 5%;
    text-align: center;
    padding: 30px;

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 20px;
        margin-left: 50px;
    }
}

#linkRegler {
    margin-left: 50px;
}

body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.table-responsive {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

#lagreButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#footer {
    color: white;
    background-color: #393c61;
    position: relative;
    width: 100%;
    bottom: 0;
}
.linker {
    display: flex;
    margin-left: 1050px;
    margin-top: 1%;
    gap: 20px;
}

.btn-group {

display: flex;
justify-content: center;
margin-bottom: 20px;

}

.btn-group button {
    display: flex;
    justify-content: center;
    background-color: #0067c4; /* Blue button background */
    border: 1px solid #393c61; /* Border color */
    color: white; /* Text color for contrast */
    padding: 10px 24px;
    cursor: pointer;
    text-align: center; /* Center the text */
    transition: background-color 0.3s; /* Smooth hover transition */
    display: inline-block; /* Keep buttons inline */
    border-radius: 4px;
}

/* Ensure buttons are aligned without double borders */
.btn-group button:not(:last-child) {
    border-right: none;
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #004b8a; /* Darker blue on hover */
}


