<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poengtavle</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/style/css/styles.min.css"> <!--FHI style pakke-->
    <link rel="stylesheet" href="../static/css/Stylesheet.css"> <!--Egen style sheet-->
</head>

<body>

    <div id="header">

        <div class="container">
            <div class="tittel">
                <h1>Reiduns Darttavle</h1>
            </div>
            <div class="links">
                <a id="linkRegler" href="../templates/Regler.html"> Regler</a>
                <a id="linkRegler" href="#"> Admin</a>
            </div>
        </div>

    </div>

    <div class="btn-group">
        <button type="button" class="btn fhi-btn-primary" onclick="location.href='/poengtavle'">Poengtavle</button>
        <button type="button" class="btn fhi-btn-primary" id="nyTavleButton">Ny runde</button>
    </div>

    <div class="parent-container">
        <div id="currentDate"></div>
    </div>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <td></td>
                    <th id="kast1">1. kast</th>
                    <th id="kast2">2. kast</th>
                    <th>Totalt poeng</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in entries %}
                <tr>
                    <th>{{ entry['navn'] }}</th>
                    <td>{{ entry['kast1'] }}</td>
                    <td>{{ entry['kast2'] }}</td>
                    <td class="row-total">{{ entry['total_sum'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div style="text-align: center;">
        <button id="addPlayer" type="button"><i class="icon-plus icon-md"></i>Ny Spiller</button>
    </div>

    <div class="results-container">

        <div id="lagre-knapp">
            <button id="lagreButton" class="fhi-btn-primary">Lagre resultater</button>
        </div>

        <div class="button-container">


            <div>
                <button id="downloadCSVButton" class="fhi-btn-primary" onclick="downloadCSV()">Last ned XL
                    sheet</button>
            </div>

            <div>
                <input id="velgFilButton" type="file" id="uploadCSV" accept=".csv, xlsx">
            </div>

        </div>

    </div>

    <div id="footer">

        <p class="footer-text">Utviklet av FHI </p>

    </div>

    <script src="../static/js/Dart.js"></script>
</body>

</html>